body {
  background-color: rgb(225, 225, 255);
}

#header {
  background-color: rgb(175, 175, 225);
  margin-top: 2em;
  border-radius: 2em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 15px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "search results results"
  "search forecast forecast"
  "search forecast forecast";
}

.hide {
  display: none;
}

#search {
  grid-area: search;
  background-color: rgb(175, 175, 225);
  border-radius: 2em;
  margin: 1em;
  min-height: 500px;
}

#search h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#search-label {
  font-size: 25px;
  margin-bottom: 0.5em;
}

#search-button {
  margin-top: 1em;
  width: 100%;
  background-color: rgb(150, 150, 225);
}

#history-button {
  margin-top: 1em;
  width: 100%;
  font-size: 15px;
  background-color: rgb(175, 175, 225);
  border: 1px solid rgb(150, 150, 225);
}

#results {
  grid-area: results;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(175, 175, 225);
  border-radius: 2em;
  margin: 1em;
}

#icon-div {
  display: inline-flex;
  font-size: 15px;
}

#icon-div p {
  text-transform: capitalize;
  margin-top: auto;
}

#forecast {
  grid-area: forecast;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(175, 175, 225);
  border-radius: 2em;
  margin: 1em;
}

#forecast-h2 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

#forecast-cards {
  display: flex;
}

.card {
  background-color: rgb(175, 175, 225);
  border: none;
  width: 20%;
}

#card-icon-div {
  text-transform: capitalize;
  margin-bottom: 1em;
}